.container {
    max-width: 768px;
    padding: 0 12px;
    margin: auto;
}

@media (min-width: 1024px) {
    .container {
        max-width: 900px;
        padding: 0;
    }   
}

@media (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }   
}