@import '../../styles/common.scss';

.product {
    border-bottom: 1px solid $grayLight;
    padding: 16px;
}

.product-link {
    display: flex;
}

.product-container {
    width: 90px;
    height: 90px;
    margin: 0;
    display: flex;
    align-items: center;
}

.product-icon {
    background-image: url('../../assets/icon-shipping.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 8px;

    // Retina
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../../assets/icon-shipping@2x.png');
    }
}

.product-image {
    border-radius: 4px;
    width: 90px;
    height: 90px;
}

.product-details {
    flex-grow: 1;
    padding-left: 16px;
}

.product-price {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: $grayDark;
    position: relative;
}

.product-condition {
    font-size: 12px;
    color: $gray;
    position: absolute;
    right: 0;
}

.product-price-currency {
    margin-right: 6px;
}

.product-title {
    font-weight: normal;
    color: $grayDark;
    font-size: 14px;
    margin: 0;
}

@media (min-width: 1024px) {
    .product-price {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .product-title {
        font-size: 18px;
        max-width: 380px;
    }

    .product-container {
        width: 180px;
        height: 180px;
    }

    .product-image {
        width: 180px;
        height: 180px;
    }

    .product-details {
        max-width: 580px;
    }
}